body{
    margin: 0;
    padding: 0;
}
form{
    margin-left: 60px;
}
.box{
    border: solid 2px black;
}


    

.contanre p{
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 30px;
 font-weight: 700;



}

.title a , button  { 
    cursor: pointer;
    background-color: #f9b700;
    border: none;
    padding: 15px 35px;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-weight: 600;
    margin-left: 130px;
}
button a{
    text-decoration: none;
    color: blaCK;
}

    .title a , button:hover{
        transform: scale(1.05);
        transition: 0.5s;
    }

.select-car , .half {
     color: rgb(0, 0, 0) ;
    padding: 8px ; 
    border: white solid 2px;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
}

.select-car { 
    width: 370px;
    margin: 14px 16px;
border: solid 3px black;}


.half {
    width: 177px; 
    flex-wrap: wrap;
    display: flex;
}

.h-l { margin: 0px 15px 7px ;
border: solid 3px black; }

.h-r { 
    margin: 10px 15px;
    border: solid 3px rgb(0, 0, 0); 
}