@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');

.body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://img.freepik.com/premium-vector/travel-seamless-pattern-vector-illustration-hand-drawing-doodles_127770-810.jpg?w=740');
    background-repeat: repeat;
    background-attachment: fixed; 
    background-size: 300px;
    padding: 30px;
}

.container {
    position: relative;
    top: -80px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 50px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-sizing: border-box;
}

.container img {
    width: 180px;
}

.form-content .title {
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
    /* background: linear-gradient(to right, #888888, #232526); */
    letter-spacing:  2px;
    text-align: center;
    
}

.text {
    text-align: center;
    margin: 30px auto;
    color: #232526;
}

.container form {
    display: flex;
    flex-direction: column;
}

i {
    margin-left:  30px;
    margin-top: 20px;
    position: absolute;
    color: #000000;
    font-size: 25px;
}

.container form input {
    display: block;
    height: 40px;
    margin: 10px 0;
}

.container form input[type="email"] {
    position: relative;
    outline: none;
    border: none;
    margin: 10px 30px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: #000000;
    border-bottom: 3px solid rgba(0, 0, 0, 0.39);
    transition: all 0.3s ease;
}

.container form input:focus,
.container form input:valid {
    border-color: #000000;
}

.container form input[type="submit"] {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px #000;
}

.container form .submit{
    margin: 0 60px;
}
.container form input[type="submit"]:hover {
    background-color: #555;
}

.text a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 600px) {
    body {
        font-size: small;
    }

    .container {
        width: 90%;
    }

    .container img {
        width: 100px;
    }

    .container form label {
        font-size: 14px;
    }

    .container form input[type="submit"] {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
}
