@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');
body{
    margin: 0;
    padding: 0;

}
.main-section{
    margin-top: 100px;
   width: 100%;
    border: solid 2px rgb(0, 34, 255);
    

}
@media screen and (max-width:600px){
    .main-section{
       width: 100%;
    }
}

.img-section{
    height: 800px;
    width: 100%;
    border: solid red 2px;

}
.img-section p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    
    font-weight: 900;

}
.yellow-taxi{
    height: 600px;
    float: right;

}
@media screen and (max-width:600px){
    .yellow-taxi{
        height: 200px;
    }
}


.boxes{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:390px){
    .box{
        flex-wrap: wrap;
    }
}

.box{
    cursor: pointer;
    height: 200px;
    width: 400px;
    background-color: gold;
    border-radius: 30px;
    margin: -80px 20px;
}
@media screen and (max-width:600px){
    .box{
        cursor: pointer;
    height: 100px;
    width: 200px;
    background-color: gold;
    border-radius: 30px;
    margin: -80px auto;
    }
}
.box:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 2px black;

    transition: 1s;
}
.content{
    background-color: black;
}
span{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}
.butn{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
   
}

.button{
    cursor: pointer;
    background-color: red;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
    margin-right: 10px;
    border: white 2px solid;  
}
.button:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
 a{
    text-decoration: none;
    color :white
}

p{
    text-align: center;
}
.services{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

.card1{
    border: solid 2px white;
    height: 200px;
    width: 300px;
    background-color: white;
    padding: 30px;
    margin: 30px;
   
}

.service-header p{
    text-align: center;
}
.hr{
    width: 90px;
    margin-top: -20px;
    border-top: 2px solid gold;
}