@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #232526;
  background: -webkit-linear-gradient(to right, #353535, #232526);
  background: linear-gradient(to right, #494949, #232526);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 90px 0px;
}

.signup-container {
  margin-top: 150px;
  width: 100%;
}

.login-container {
  margin-top: 150px;
  width: 50%;
  height: 80vh;
}
.form-container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
}

.form-container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.form-container .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}
.form-content .login-form {
  padding: 40px 0px;
}
.form-container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}
.form-content .signup-form {
  padding: 0px 0px;
}
.login-title {
  position: absolute;
  top: -20px;
}
.forms .form-content .title {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #000;
  padding: 10px 0px;
}
.forms .form-content .input-boxes {
  margin-top: 30px;
}
.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 80%;
  margin: 10px 10px;
  position: relative;
}
.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #000000;
}

.form-content .input-box i {
  position: absolute;
  color: #000;
  font-size: 17px;
}

.forms .form-content .text {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 10px;

  color: #000;
}

.forms .form-content .text-accept-term {
  margin: 0px 10px;
}
.forms .form-content .text a {
  text-decoration: none;
}
.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input {
  color: #fff;
  font-size: large;
  background: #232526;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  /* max-width: 50%; */
  margin: 0px 25%;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover {
  background: #777;
  transform: scale(1.1);
}

.forms .form-content label {
  color: #000;
  cursor: pointer;
}
.forms .form-content label:hover {
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 15px;
}
.forms .form-content .login-text a,
.forms .form-content .sign-up-text a {
  text-decoration: none;
  text-align: center;
  color: #000;
}
footer {
  width: 100%;
}
@media (max-width: 769px) {
  .form-container .cover img {
    object-fit: none;
    background-color: #fff;
  }
  .login-title {
    position: relative;
    top: -80px;
  }
  .forms .form-content .input-box,
  .forms .form-content .input-box #agreement {
    margin: auto;
    width: auto;
  }
  .forms .form-content .input-box input[type="submit"] {
    margin-top: 10px;
    padding: 0px 20px;
  }
  .forms .form-content .input-box .login input[type="submit"] {
    margin-top: -50px;
    padding: 0px 20px;
  }

  .forms .form-content .text-accept-term {
    margin: 0px 0px;
  }
}

@media (max-width: 730px) {
  * {
    font-size: small;
  }
  .form-container .cover {
    display: none;
  }
  .form-container {
    padding: 30px;
  }
  .login-container {
    width: 80%;
    height: 80vh;
  }
  .signup-container {
    width: 80%;
    height: 80vh;
  }
  .login-title {
    top: 0;
  }
  .login {
    position: relative;
    padding: 0px;
    top: 50px;
  }
  .login-text {
    position: relative;
    top: 20px;
  }
  .forms .form-content .title {
    font-size: 30px;
    padding: 0;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }
  .forms .form-content .input-box,
  .forms .form-content .input-box #agreement {
    margin: auto;
    width: auto;
  }
  .forms .form-content .login-form .input-box input[type="submit"] {
    margin-top: 80px;
    padding: 0px 20px;
  }
  .forms .form-content .login-text {
    text-align: center;
    margin-top: 80px;
  }
  .forms .form-content .login-text a,
  .forms .form-content .sign-up-text a {
    text-decoration: none;
    color: #000;
  }

  .forms .form-content .text-accept-term {
    margin: 0px 0px;
  }
}
