@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap");


font-family: 'Montserrat', sans-serif;

body {
  /* font-size: 20px; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #232526;
  background: -webkit-linear-gradient(to right, #353535, #232526);
  background: linear-gradient(to right, #494949, #232526);
  background-repeat: no-repeat;
  background-size: cover;
}

.payment-panel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  /* padding: 32px; */
  border-radius: 10px;
  margin-top: 50px;
}
.panel-body {
  padding: 60px 50px 0;
  flex: 1;
}

.title {
  font-weight: 700;
  margin: 0;
  padding: 20px 0;
  color: #2e2e2e;
}
.title .h2 {
  font-size: 30px;
}
.payment-method {
  display: flex;
  padding-top: 40px;
  justify-content: space-evenly;
  text-align: center;


}


.method {
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.card-logos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.card-item {
  width: 250px;
  padding-bottom: 20px;
  margin: 0px 5px;
  background-color: #efefef; 

  border-radius: 10px;
  box-shadow:0 0 1px 1px rgb(26, 25, 25);
}
.card-item:hover{
  transform: scale(0.9);
  transition: 0.5s;
  background-color: gold;

}
.card-logos img {
  width: 50%;
  height: 100%;
}
.paypal img {
  width: 100%;
  padding-bottom: 0;
  height: 100%;
}
.debit img {
  width: 100%;
  height: 100%;
}
.UPI img {
  width: 100%;
  height: 100%;
}
.radio-input {
  margin-top: 20px;
}

input[type="radio"] {
  display: inline-block;
  margin-top: 10px;
}

.input-fields {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}

.input-fields label {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.info {
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin-top: 50px;
  color: #ccc;
}

.responsive-info {
  display: none;
}
.card-number {
  display: none;
}
.column-1 {
  margin-right: 10px;
  width: 80%;
}
.column-2 {
  width: 80%;
}

input[type="text"],
input[type="password"] {
  display: block;
  justify-content: space-around;
  font-size: medium;
  width: 100%;
  height: 50px;
  color: rgba(46, 46, 46, 0.8);
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: rgb(119, 219, 119);
}

.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 40%;
}

.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 80px;
  background-color: #ddd;
  justify-content: space-between;
  align-items: center;
}
.btn {
  text-decoration: none;
  font-size: 16px;
  width: 163px;
  height: 48px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
}

.back-btn {
  text-decoration: none;
  color: #fff;
  background: #333;
}

.next-btn {
  background: #333;
 
}
.next-btn a{
  text-decoration: none;
  color: #fff;
  
}

.btn:hover {
  transform: scale(1.1);
}
footer {
  width: 100%;
}

@media screen and (max-width: 768px) {
  /*  {
    font-size: 20px; */

  .payment-panel {
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 0;
  }
  .panel-body {
    padding: 30px 0px;
  }
  .title {
    padding-left: 10px;
  }
  .title .h2 {
    font-size: xx-large;
    padding-bottom: 5px;
  }
  .payment-method {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .method {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
  .card-item {
    padding: 10px;
    margin: 5px;
    flex-direction: column;
  }
  .card-number {
    margin-top: 10px;
    display: block;
  }
  .column-1 {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .column-2 {
    display: none;
  }
  .responsive-info {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    text-align: justify;
    margin: 10px 0;
    color: #999;
  }

  .input-fields {
    display: flex;
    margin: 0;
    padding: 20px 0;
  }
  .info {
    display: none;
  }
}
