@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;500&display=swap');


@media(max-width:900px) {


  .text {
    flex-wrap: wrap;
    font-size: small;
    justify-content: center;
    color:#fff;
    margin:auto;
  }
  .single_services{
    justify-content: center;
    margin-left :40px;
    margin-right: 40px;
    margin-top:30px;
    margin-bottom: auto;
  }
}
 
.body{
    margin:0;
    padding:0;
    background-color:#fff;
    }
  
  .service{
    text-align: center;
    color:gold;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top:80px;
    margin-bottom:auto;
  
  }
  .service:hover{
    color:palevioletred;
    border-radius:2px;
  }

.text{
  display:flex;
  font-family: 'Montserrat', sans-serif;
  background-color:#fff;
  margin-top: 3px;
}
.single_services{
  background-color:#232526;
  margin-left:30px;
  margin-right: 30px;
  margin-bottom:50px;
  height: 580px;
  width:500px;
 /*  border-radius:1px solid white;*/
  text-align: center;
  margin-top: 50px;
 border-radius:10px ;
 font-family: 'Montserrat', sans-serif;
 
 

}



.btn {
  font-size: 16px;
  width: 163px;
  height: 38px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
  margin-top:0px;
  margin-bottom: 20px;
}
.btn {
  color:#232526;
  background:#fff;
 /* height: 60px;
  width: 100px;  
  border-radius:30%;*/
}
 
.btn:hover {
  transform: scale(1.1);
}
.img{
  
  border-radius:5px;
}
.img:hover{
  height: 300px;
  width: 300px;
}
.heading{
  color:#fff;
}
.heading:hover{
  color:gold;
  
}

  .para{
   
    justify-content:center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
   margin-left:55px;
    margin-right:55px;
    color:#fff;
   
  }









/*.body {
  margin: 0;
  padding: 0;
  background-color: #232526;
}
.single_services{
  height: 550px;
  width: 500px;
  border-radius: 1px solid black;
  text-align: center;
  margin-top: 70px;
}*/




@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Black+Ops+One&family=Pacifico&display=swap');

body {
  margin: 0%;
  padding: 0%;
 background-color: #ffffff;
  /* background-color: #232526; */
 
  
}
/*--------------------- Nav Bar---------------------*/
.nav-bar {
  height: 100px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 2px;
  right: 2px;
  z-index: 99;
  box-shadow: 0 -5px 10px 10px #a3a3a3;
  display: flex;

}

.logo {
  float: left;
  height: 90px;
  position: absolute;
  left: 20px;
}

.menu {
  position: absolute;
  right: 100px;
  top: 10px;
  display: flex;
  white-space: nowrap;
  /* justify-content: space-between; */
}

.menu a {
  text-decoration: none;
  margin: 30px;
  transition: all .4s ease-in-out;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.menu a:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: gold;
}
.hamburger{
  position: absolute;
  right: 20px;
  top: 30px;
}
/* -------------------- Responsive Design ------------------------- */
/*--------------------- Nav Bar Responsive Design---------------------*/
@media screen and (max-width: 700px) {
  .hamburger{
    visibility: hidden;
  }
  .nav-bar {
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px #a3a3a3;
    position: fixed;
    top: 2px;
    left: 2px;
    right: 2px;
    box-shadow: 0 -5px 90px 5px #a3a3a3;

  }

  .logo {
    float: left;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
  }

  /* Style navigation menu links */
  .menu a {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 10px;
    white-space: nowrap;
    display: flex;

  }

  .menu {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
  }

}
@media screen and (min-width: 701px) {
  .hamburger{
    visibility: hidden;
  }

}
@media screen and (min-width: 700px) and (max-width:880px){
  .menu {
    font-size:15px ;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
  }

}
@media screen and (max-width: 515px) {
  .hamburger{
    visibility: visible;
  }
  .menu{
    display: none;
  }

}
/*-----------Nav-bar Responsive End----------*/